@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Maplestory';
  src: url('/frontend/src/assets/fonts/MaplestoryL.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MaplestoryBold';
  src: url('/frontend/src/assets/fonts/MaplestoryB.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  cursor: url(https://cur.cursors-4u.net/games/gam-4/gam308.cur), auto !important;
}

body {
  font-family: maplestory;
}

h1 {
  @apply text-4xl font-bold font-[maplestorybold]; /* Apply Tailwind utility classes */
}

h2 {
  @apply text-3xl font-bold; /* Apply Tailwind utility classes */
}

.custom-stroke {
  -webkit-text-stroke: 2px #fff;
  text-shadow: 2px 6px 0 #2669a4;
}

.cloud {
  position: absolute;
  top: 0;
  background-repeat: repeat-x;
  width: 6400px;
  height: 144px;
  animation: wave 200s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translateZ(0);
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@media screen and (max-width: 640px) {
  .custom-stroke {
    text-shadow: 1px 4px 0 #2669a4;
  }
}
