@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Maplestory';
  src: url('/src/assets/fonts/MaplestoryL.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  cursor: url(https://cur.cursors-4u.net/games/gam-4/gam308.cur), auto !important;
}

body {
}

h1 {
  @apply text-4xl font-bold text-gray-900; /* Apply Tailwind utility classes */
}

h2 {
  @apply text-3xl font-bold text-gray-800; /* Apply Tailwind utility classes */
}
